@mixin responsive-fonts($desktop: 24, $mobile: 16, $steps: 5) {
  @if $steps == 4 {
    $step: ($desktop - $mobile) * 0.25;

    font-size: $mobile + px;

    @media #{$sm} {
      font-size: $mobile + $step + px;
    }
    @media #{md} {
      font-size: $mobile + $step * 2 + px;
    }
    @media #{lg} {
      font-size: $mobile + $step * 3 + px;
    }
    @media #{xl} {
      font-size: $desktop + px;
    }
  } @else {
    $step: ($desktop - $mobile) * 0.2;

    font-size: $mobile + px;

    @media #{sm} {
      font-size: $mobile + $step + px;
    }
    @media #{md} {
      font-size: $mobile + $step * 2 + px;
    }
    @media #{lg} {
      font-size: $mobile + $step * 3 + px;
    }
    @media #{xl} {
      font-size: $mobile + $step * 4 + px;
    }
    @media #{xxl} {
      font-size: $desktop + px;
    }
  }
}

@mixin responsive-margin($dir: bottom, $desktop: 60, $mobile: 30, $steps: 5) {
  @if $dir == top or $dir == bottom or $dir == left or $dir == right {
    @if $steps == 4 {
      $step: ($desktop - $mobile) * 0.25;

      margin-#{$dir}: $mobile + px;

      @media #{sm} {
        margin-#{$dir}: $mobile + $step + px;
      }
      @media #{md} {
        margin-#{$dir}: $mobile + $step * 2 + px;
      }
      @media #{lg} {
        margin-#{$dir}: $mobile + $step * 3 + px;
      }
      @media #{xl} {
        margin-#{$dir}: $desktop + px;
      }
    } @else {
      $step: ($desktop - $mobile) * 0.2;

      margin-#{$dir}: $mobile + px;

      @media #{sm} {
        margin-#{$dir}: $mobile + $step + px;
      }
      @media #{md} {
        margin-#{$dir}: $mobile + $step * 2 + px;
      }
      @media #{lg} {
        margin-#{$dir}: $mobile + $step * 3 + px;
      }
      @media #{xl} {
        margin-#{$dir}: $mobile + $step * 4 + px;
      }
      @media #{xxl} {
        margin-#{$dir}: $desktop + px;
      }
    }
  }
  @if $dir == vertical {
    @if $steps == 4 {
      $step: ($desktop - $mobile) * 0.25;

      margin-top: $mobile + px;
      margin-bottom: $mobile + px;

      @media #{sm} {
        margin-top: $mobile + $step + px;
        margin-bottom: $mobile + $step + px;
      }
      @media #{md} {
        margin-top: $mobile + $step * 2 + px;
        margin-bottom: $mobile + $step * 2 + px;
      }
      @media #{lg} {
        margin-top: $mobile + $step * 3 + px;
        margin-bottom: $mobile + $step * 3 + px;
      }
      @media #{xl} {
        margin-top: $desktop + px;
        margin-bottom: $desktop + px;
      }
    } @else {
      $step: ($desktop - $mobile) * 0.2;

      margin-top: $mobile + px;
      margin-bottom: $mobile + px;

      @media #{sm} {
        margin-top: $mobile + $step + px;
        margin-bottom: $mobile + $step + px;
      }
      @media #{md} {
        margin-top: $mobile + $step * 2 + px;
        margin-bottom: $mobile + $step * 2 + px;
      }
      @media #{lg} {
        margin-top: $mobile + $step * 3 + px;
        margin-bottom: $mobile + $step * 3 + px;
      }
      @media #{xl} {
        margin-top: $mobile + $step * 4 + px;
        margin-bottom: $mobile + $step * 4 + px;
      }
      @media #{xxl} {
        margin-top: $desktop + px;
        margin-bottom: $desktop + px;
      }
    }
  } @else if $dir == horizontal {
    @if $steps == 4 {
      $step: ($desktop - $mobile) * 0.25;

      margin-inline: $mobile + px;

      @media #{sm} {
        margin-inline: $mobile + $step + px;
      }
      @media #{md} {
        margin-inline: $mobile + $step * 2 + px;
      }
      @media #{lg} {
        margin-inline: $mobile + $step * 3 + px;
      }
      @media #{xl} {
        margin-inline: $desktop + px;
      }
    } @else {
      $step: ($desktop - $mobile) * 0.2;

      margin-inline: $mobile + px;

      @media #{sm} {
        margin-inline: $mobile + $step + px;
      }
      @media #{md} {
        margin-inline: $mobile + $step * 2 + px;
      }
      @media #{lg} {
        margin-inline: $mobile + $step * 3 + px;
      }
      @media #{xl} {
        margin-inline: $mobile + $step * 4 + px;
      }
      @media #{xxl} {
        margin-inline: $desktop + px;
      }
    }
  }
}

@mixin responsive-padding($dir: bottom, $desktop: 60, $mobile: 30, $steps: 5) {
  @if $dir == top or $dir == bottom or $dir == left or $dir == right {
    @if $steps == 4 {
      $step: ($desktop - $mobile) * 0.25;

      padding-#{$dir}: $mobile + px;

      @media #{sm} {
        padding-#{$dir}: $mobile + $step + px;
      }
      @media #{md} {
        padding-#{$dir}: $mobile + $step * 2 + px;
      }
      @media #{lg} {
        padding-#{$dir}: $mobile + $step * 3 + px;
      }
      @media #{xl} {
        padding-#{$dir}: $desktop + px;
      }
    } @else {
      $step: ($desktop - $mobile) * 0.2;

      padding-#{$dir}: $mobile + px;

      @media #{sm} {
        padding-#{$dir}: $mobile + $step + px;
      }
      @media #{md} {
        padding-#{$dir}: $mobile + $step * 2 + px;
      }
      @media #{lg} {
        padding-#{$dir}: $mobile + $step * 3 + px;
      }
      @media #{xl} {
        padding-#{$dir}: $mobile + $step * 4 + px;
      }
      @media #{xxl} {
        padding-#{$dir}: $desktop + px;
      }
    }
  }
  @if $dir == vertical {
    @if $steps == 4 {
      $step: ($desktop - $mobile) * 0.25;

      padding-top: $mobile + px;
      padding-bottom: $mobile + px;

      @media #{sm} {
        padding-top: $mobile + $step + px;
        padding-bottom: $mobile + $step + px;
      }
      @media #{md} {
        padding-top: $mobile + $step * 2 + px;
        padding-bottom: $mobile + $step * 2 + px;
      }
      @media #{lg} {
        padding-top: $mobile + $step * 3 + px;
        padding-bottom: $mobile + $step * 3 + px;
      }
      @media #{xl} {
        padding-top: $desktop + px;
        padding-bottom: $desktop + px;
      }
    } @else {
      $step: ($desktop - $mobile) * 0.2;

      padding-top: $mobile + px;
      padding-bottom: $mobile + px;

      @media #{sm} {
        padding-top: $mobile + $step + px;
        padding-bottom: $mobile + $step + px;
      }
      @media #{md} {
        padding-top: $mobile + $step * 2 + px;
        padding-bottom: $mobile + $step * 2 + px;
      }
      @media #{lg} {
        padding-top: $mobile + $step * 3 + px;
        padding-bottom: $mobile + $step * 3 + px;
      }
      @media #{xl} {
        padding-top: $mobile + $step * 4 + px;
        padding-bottom: $mobile + $step * 4 + px;
      }
      @media #{xxl} {
        padding-top: $desktop + px;
        padding-bottom: $desktop + px;
      }
    }
  } @else if $dir == horizontal {
    @if $steps == 4 {
      $step: ($desktop - $mobile) * 0.25;

      padding-inline: $mobile + px;

      @media #{sm} {
        padding-inline: $mobile + $step + px;
      }
      @media #{md} {
        padding-inline: $mobile + $step * 2 + px;
      }
      @media #{lg} {
        padding-inline: $mobile + $step * 3 + px;
      }
      @media #{xl} {
        padding-inline: $desktop + px;
      }
    } @else {
      $step: ($desktop - $mobile) * 0.2;

      padding-inline: $mobile + px;

      @media #{sm} {
        padding-inline: $mobile + $step + px;
      }
      @media #{md} {
        padding-inline: $mobile + $step * 2 + px;
      }
      @media #{lg} {
        padding-inline: $mobile + $step * 3 + px;
      }
      @media #{xl} {
        padding-inline: $mobile + $step * 4 + px;
      }
      @media #{xxl} {
        padding-inline: $desktop + px;
      }
    }
  }
}
