.a-btn-with-icon {
  transition:
    color 0.25s ease-in-out,
    background-color 0.25s ease-in-out;
  position: relative;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $color-main;
  border-radius: 200px;
  padding: 12px 21px;
  color: $color-main;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;

  @media #{$md} {
    width: auto;
  }

  &:hover {
    background-color: $color-main;
    color: $color-beige-light;
    img,
    svg {
      transform: translateY(3px);
    }

    svg {
      path {
        fill: $color-beige-light;
      }
    }
  }

  img,
  svg {
    transition: transform 0.25s ease-in-out;
    width: 16px;
    height: 16px;
    object-fit: cover;
    object-position: center;

    path {
      transition: fill 0.25s ease-in-out;
    }
  }

  &--alt {
    &:hover {
      color: $color-main;
      background-color: $color-beige-light;

      img,
      svg {
        transform: translateX(3px);
      }

      svg {
        path {
          fill: $color-main;
        }
      }
    }
  }
}
