.a-btn-with-icon {
  position: relative;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $color-main;
  border-radius: 200px;
  padding: 12px 21px;
  color: $color-main;
  font-size: 16px;
  line-height: 1.5;

  &:hover {
    img,
    svg {
      transform: translateY(3px);
    }
  }

  img,
  svg {
    @include transition(transform);
    width: 16px;
    height: 16px;
    object-fit: cover;
    object-position: center;
  }

  &--alt {
    &:hover {
      img,
      svg {
        transform: translateX(3px);
      }
    }
  }
}
