.a-btn-primary {
  transition: background-color 0.25s ease-in-out;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $color-main;
  border-radius: 200px;
  padding: 12px 24px 14px;
  color: $color-beige-light;
  border: 1px solid $color-main;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;

  &:hover {
    background: $color-black;
  }

  @media #{$md} {
    width: auto;
  }
}
