.o-footer {
  background-color: $color-black;
  @include responsive-padding(vertical, 79, 45);

  &__cta {
    @include responsive-padding(bottom, 59, 32);
    display: flex;
    flex-direction: column;
    gap: 45px;
    color: $color-beige-light;
    border-bottom: 1px solid $color-beige-light;

    @media #{$lg} {
      gap: 0;
      align-items: center;
      flex-direction: row;
    }

    &-link {
      display: flex;
      flex-direction: column;
      gap: 15px;

      @media #{$lg} {
        gap: 27px;
        align-items: center;
        flex-direction: row;
        margin-left: auto;
      }
    }
  }

  &__nav {
    @include responsive-padding(top, 64, 32);

    display: flex;
    flex-direction: column;
    gap: 30px;

    @media #{$lg} {
      flex-direction: row;
      gap: 30px;
    }
  }

  &__menu {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;

    @media #{$md} {
      flex-direction: row;
      gap: 48px;
    }

    &-item {
      position: relative;
      a {
        @include underline-hover($color: $color-beige-light);
        color: $color-beige-light;
      }
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    gap: 10px;

    @media #{$md} {
      margin-bottom: 118px;
      flex-direction: row;
      gap: 48px;
    }
    @media #{$lg} {
      margin-left: auto;
    }

    a {
      @include transition();
      color: $color-beige-light;

      &:hover {
        color: $color-beige;
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    color: $color-beige-light;
    gap: 30px;

    @media #{$md} {
      flex-direction: row;
      align-items: center;
    }
  }

  &__made {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-inline: auto;

    @media #{$md} {
      margin-right: 0;
      margin-left: auto;
    }
  }
}
