html,
body {
  text-rendering: optimizelegibility;
  margin: 0;
  // overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-family: $font-main;
  color: $color-black;

  &.blocked {
    overflow: hidden;
  }
}

::selection {
  color: $color-beige;
  background-color: $color-main;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
dt {
  padding: 0;
  margin: 0;
}

p {
  font-size: 16px;
}

ul,
ol {
  list-style-type: none;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }
}

blockquote {
  margin: 0;
}

cite {
  font-style: unset;
}

picture {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
